<div ng-controller="EmployeeController" data-ng-init="loadEmployee()">
    <p>    Click <a ng-click="loadEmployee()">here</a> to load data.</p>
    <table class="pure-table pure-table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="emp in employees">
            <td>{{emp.ID}}</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.Designation}}</td>
            <td>{{emp.Email}}</td>
            <td><button class="pure-button button-secondary button-warning" ng-click="editEmployee(emp)">Edit</button></td>
            <td><button class="pure-button button-secondary button-error" ng-click="deleteEmployee(emp)">Delete</button></td>
        </tr>
    </table>
</div>