<div ng-controller="EmployeeController" data-ng-init="loadEmployee()" ng-model="employees" class="emp-list">

	<div class="pure-control-group search-widget">
		<form class="pure-form pure-form-aligned edit-form" >
			<button class="pure-button pure-button-primary add-emp" ng-click="editEmployee('/add')" >Add New</button>
			<span>Search By :
				<select ng-model="queryBy">
					<option value="Name">Name</option>
					<option value="Designation">Designation</option>
					<option value="Email">Email</option>
				</select> 

			</span>
			<span>
				<input type="text" ng-model="query[queryBy]"/>
			</span>
			<span>
				<button class="pure-button" ng-click="" >Search</button>
			</span>
		</form>
	</div>

	<table class="pure-table pure-table-bordered">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Designation</th>
			<th>Email</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="emp in employees | filter:query">
			<td><a href="#/edit/{{emp.ID}}">{{emp.ID}}</a></td>
			<td>{{emp.Name}}</td>
			<td>{{emp.Designation}}</td>
			<td>{{emp.Email}}</td>
			<td>
				<!--<button class="pure-button button-secondary pure-button-error" ng-click="deleteEmployee(emp)">Delete</button>-->
				<a ng-click="deleteEmployee(emp)" class="icono-cross" ></a>
			</td>
		</tr>
	</table>
</div>
